.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(12, 161, 242);
    margin-top: 100px;
  }
  
  .display {
    grid-column: span 4;
    background: #f0f0f0;
    padding: 10px;
    text-align: right;
  }
  
  .btn {
    font-size: 18px;
    padding: 10px;
    background-color: aqua;
  }
  